@page "/taller/list"
@using PortalGalaxy.Client.Xls
@inject ITallerProxy TallerProxy
@inject ICategoriaProxy CategoriaProxy
@inject IJsonProxy JsonProxy
@inject IToastService ToastService
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject HttpClient HttpClient

<h2 class="text-uppercase mb-5">Listado de Talleres</h2>

<div class="row">
    <div class="col">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre:</label>
            <InputText type="text" class="form-control" id="nombre" @bind-Value="BusquedaRequest.Nombre"/>
        </div>
    </div>
    <div class="col-3">
        <label for="categoria" class="form-label">Categoría</label>
        <InputSelect id="categoria" class="form-select" @bind-Value="BusquedaRequest.CategoriaId">
            <option>Todos</option>
            @foreach (var item in Categorias)
            {
                <option value="@item.Id">@item.Nombre</option>
            }
        </InputSelect>
    </div>
    <div class="col-3">
        <label for="situacion" class="form-label">Situacion</label>
        <InputSelect id="situacion" class="form-select" @bind-Value="BusquedaRequest.Situacion">
            <option>Todos</option>
            @foreach (var item in Situaciones)
            {
                <option value="@item.Codigo">@item.Nombre</option>
            }
        </InputSelect>
    </div>
    <div class="row mt-3 justify-content-end">
        <div class="col-auto">
            <button class="btn btn-outline-primary" @onclick="OnSearch"><i class="bi bi-search me-1"></i>Buscar</button>
        </div>
        <div class="col-auto">
            <button class="btn btn-outline-primary" @onclick="OnLimpiar"><i class="bi bi-eraser-fill me-1"></i>Limpiar</button>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary" @onclick="OnNuevo"><i class="bi bi-plus-circle me-1"></i>Nuevo</button>
        </div>
    </div>

    <div class="row mt-4">
        @if (Talleres is null)
        {
            <p class="alert alert-info">Sin resultados</p>
        }
        else if (!Talleres.Any())
        {
            <p class="alert alert-danger">Sin datos para mostrar</p>
        }
        else
        {
            @if (!IsLoading)
            {
                <table class="table table-bordered">
                    <thead>
                    <tr class="table-primary">
                        <th class="text-center">#</th>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Categoria</th>
                        <th class="text-center">Instructor</th>
                        <th class="text-center">Fecha</th>
                        <th class="text-center">Situacion</th>
                        <th class="text-center">Acción</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Talleres)
                    {
                        <tr>
                            <td class="text-center">@item.Id</td>
                            <td>@item.Nombre</td>
                            <td class="text-center">@item.Categoria</td>
                            <td>@item.Instructor</td>
                            <td class="text-center">@item.Fecha</td>
                            <td class="text-center">@item.Situacion</td>
                            <td class="text-center">
                                <button type="button" class="btn">
                                    <i class="bi bi-check2-circle"></i>
                                </button>
                                <button type="button" class="btn" @onclick="() => OnEditar(item.Id)">
                                    <i class="bi bi-pencil-fill"></i>
                                </button>
                                <button type="button" class="btn">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
            else
            {
                <p>Cargando...</p>
            }
        }

    </div>
    <div class="row justify-content-end">
        <div class="col-auto">
            <button class="btn btn-outline-danger"><i class="bi bi-filetype-pdf me-1"></i>Exportar</button>
        </div>
        <div class="col-auto">
            <button class="btn btn-outline-success" @onclick="OnExportarExcel"><i class="bi bi-file-excel me-1"></i>Exportar</button>
        </div>
    </div>
    <DataPager @ref="Paginador" Result="PagedResult" OnPageChanged="PaginaCambiada" OnPageSizeChanged="FilasPorPagina"></DataPager>
</div>

<LoadingComponent IsLoading="IsLoading"/>

@code
{
    private ICollection<CategoriaDtoResponse> Categorias { get; set; } = new List<CategoriaDtoResponse>();

    private ICollection<SituacionModel> Situaciones { get; set; } = new List<SituacionModel>();

    private ICollection<TallerDtoResponse>? Talleres { get; set; }

    public bool IsLoading { get; set; }

    public BusquedaTallerRequest BusquedaRequest { get; set; } = new() { Nombre = string.Empty, Pagina = 1, Filas = 5 };

    public DataPager Paginador { get; set; } = default!;

    public PagedResult<TallerDtoResponse> PagedResult { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        Categorias = await CategoriaProxy.ListAsync();
        Situaciones = await JsonProxy.ListSituaciones();

        PagedResult = new PagedResult<TallerDtoResponse>()
        {
            CurrentPage = BusquedaRequest.Pagina,
            RowPerPage = BusquedaRequest.Filas
        };
    }

    private async Task OnSearch()
    {
        try
        {
            IsLoading = true;

            var response = await TallerProxy.ListAsync(BusquedaRequest);

            Talleres = response.Data;
            if (Talleres is not null)
            {
                PagedResult.Results = Talleres;
                PagedResult.RowCount = Talleres.Count;
                PagedResult.TotalPages = response.TotalPages;
            }
        }
        catch (Exception ex)
        {
            ToastService.ShowError(ex.Message);
        }
        finally
        {
            IsLoading = false;
        }
    }

    private void OnLimpiar()
    {
        BusquedaRequest = new() { Pagina = 1, Filas = 5 };
    }

    private void OnNuevo()
    {
        NavigationManager.NavigateTo("/taller/nuevo");
    }

    private void OnEditar(int id)
    {
        NavigationManager.NavigateTo($"/taller/editar/{id}");
    }

    private async Task PaginaCambiada()
    {
        IsLoading = true;
        BusquedaRequest.Pagina = PagedResult.CurrentPage;
        BusquedaRequest.Filas = PagedResult.RowPerPage;

        await OnSearch();
    }

    private async Task FilasPorPagina()
    {
        BusquedaRequest.Pagina = PagedResult.CurrentPage;
        BusquedaRequest.Filas = PagedResult.RowPerPage;
        await OnSearch();
    }

    private async Task OnExportarExcel()
    {
        if (Talleres is null) return;

        try
        {
            

            IsLoading = true;

            var plantilla = await HttpClient.GetStreamAsync("assets/xls/TallerTemplate.xlsx");

            var excel = new PlantillaXls();
            var xlsStream = excel.GenerarPlantillaTaller(plantilla, Talleres);

            await JsRuntime.InvokeVoidAsync("BlazorDownloadFile", "Talleres.xlsx", xlsStream);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            ToastService.ShowError(ex.Message);
        }
        finally
        {
            IsLoading = false;
        }
    }
}